/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    padding: 40px;
    grid-template-areas: 
        "nav header"
        "nav main"
        "nav footer";
        grid-template-columns: 400px 1fr;
        grid-template-rows: 50px 1fr 50px;
        
}

nav{
    grid-area: nav;
    -background-color: blue;
    display: grid;
    padding-right: 40px;
}
.menu-conteiner{
    background-color: darkred;
    border-radius: 35px;
    display: grid;
    grid-template-rows: 120px 1fr 80px;
    overflow: hidden;
}

.icon{
    background-color: darkseagreen;
}

.menu{
    background-color: deeppink;
}

.guide{
    background-color: forestgreen;
}

header{
    grid-area: header;
    background-color: blueviolet;
    display: grid;
    place-items: end;
}

.avatar-conteiner{
    background-color: grey;
    height: 100%;
    width: 110px;

}

main{
    grid-area: main;
    background-color: chartreuse;
}

footer{
    grid-area: footer;
    background-color: darkcyan;
}